.spinner-container {
    display: none;
    position: relative; /* posizione relativa per poter posizionare lo spinner in base a questo contenitore */
    width: 100px; /* larghezza del contenitore */
    height: 100px; /* altezza del contenitore */
    margin: 0 auto; /* centrare il contenitore */
  }
  
  .spinner {
    position: absolute; /* posizione assoluta rispetto al contenitore */
    top: 50%; /* posizionare la rotellina al centro verticalmente */
    left: 50%; /* posizionare la rotellina al centro orizzontalmente */
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db; /* colore della rotellina */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; /* animazione */
  }
  
  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  body {
    /*background-color: #afa8a8;*/ /* Colore di sfondo grigio chiaro */
    background-image: url('res/sfondo.jpg'); /* Percorso dell'immagine */
    background-size: cover; /* Adatta l'immagine alla dimensione del body */
    background-repeat: no-repeat; /* Evita che l'immagine si ripeta */
    background-position: center center; /* Centra l'immagine */
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 2);
}
h1 {
  font-family: 'Montserrat', sans-serif; /* Utilizza Montserrat come primo font scelta, con un fallback a font sans-serif */
  font-size: 70px;
  color: #333;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Colore bianco con trasparenza al 80% */
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2; /* Assicura che il contenuto sia sopra l'overlay */
  /*padding: 20px;*/
}
#mappaRastrelliera {
  height: 600px;
  width: 100%;
  border: 5px solid #000; /* Bordo di 2px di colore nero */
  margin-top: 16px; /* Margine superiore di 16px */
}

.btn-custom {
  position: relative;
}

.btn-text {
  font-size: 16px;
}

.tooltip {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 8px 12px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.btn-custom:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(5px);
}